/* Body */
.sign_in_page{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
}

/* Reuseable */
.title h2{
    text-align: center;
    color: #37517E;
    font-size: 40px;
    width: 80%;
    height: 39px;
    font-weight: 700;
    margin: 30px auto;

}

.form_sign_in{
    width: 700px;
    box-shadow: 0px 0px 20px  rgba(68, 68, 68, 0.1);
    margin: 50px auto;
    padding-bottom: 10px;
    margin-top: 50px;
}



/* sign in method */

.method{
    margin: 20px auto;
    width: 100%;
}

.method a{
    background-color: #37517E;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #37517E;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.method a i{
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
}

.method a:hover,
.method a:active{
    background-color: #ffffff;
    color: #47b2e4;
    text-decoration: none;
}


/* horizontal_ruler */
.horizontal_ruler{
    margin-top: 50px;
}

.horizontal_ruler hr{
    color: #37517E;
    border-top: 3px solid ;
}

.hr_text p{
    font-size: 16px;
    text-align: center;
    color: #37517E;
    font-weight: 700;
    padding: 10px;
}

/* form */
.form-group{
    position: relative;
    margin-bottom: 15px;
}
input{
    display: block;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: inherit;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #37517e;
    transition: all 0.3s ease-in-out;
    color: #37517e;
}

label{
    position: absolute;
    transform: translateY(-50%);
    background: #ffffff;
    padding: 0 5px;
    left: 5px;
    top: 50%;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    color: #37517e;
}
.form-group input:focus{
    border: 2px solid #47B2E4;
}
.form-group input:focus + label, .form-group input:valid + label{
    top: 0px;
    font-size: 13px;
    font-weight: 400;
    color: #47B2E4;
    background-color: #ffffff;
}
.btn{
    display: block;
    background-color: #37517E;
    color: #ffffff;
    width: 100%;
    border:2px solid #37517E;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    margin: 0 auto;
}
.btn_sign_in a{
    text-decoration: none;
}

.btn:hover,
.btn:active{
    color: #47b2e4;
    background-color: #ffffff;
    border: 1px solid #47B2E4;
}

/* another link */
.another_link{
    font-size: 20px;
    padding: 50px 29px;
}

.another_link a:hover{
    text-decoration: none;
}
.forgot_password{
    display: inline;
    float: left;
}

.forgot_password a{
    color: #37517E;
}

.sign_up{
    display: inline;
    float: right;
}

.sign_up{
    color: #47b2e4;
}
