/* set up */
.row{
	margin: 0 !important;
	padding: 0 !important;
}

a{
    color: #37517E !important;
}

a:hover{
    text-decoration: none !important;
}

/* set up */

/* reuseable */
.title-part{
	display: block;
	width: 100%;
	border-bottom: 2px solid #47B2E4;
}

.container-part{
	background-color: #fff;
	box-shadow: 0px 0px 20px  rgba(68, 68, 68, 0.1);
	margin: 10px !important;
	width: 100%;
	height: 100%;   
	border-radius: 5px;
}

.main-part{
	padding: 20px;
}
h3{
    font-size: 16px !important;
	margin: 0px !important;
}


/* reuseable */
.sidebar{
    background-color: #37517E;
    width: 100%;
		height: 100vh;
		margin-left: 0px !important;
		position: sticky;
		top: 0;
		overflow: hidden;
}

.col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, 
.col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, 
.col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9{
	padding: 0px !important;
}
.avata{
	width: 90%;
	margin: 0px auto;
	border-bottom: 1px solid #47B2E4;
}

.avata img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
		padding: 15px;
}

.avata .welcomback{
	color: #fff;
	text-align: center;
}

/* menu */
.menu ul{
	margin-top: 20px;
}

.menu ul li #index{
background-color: #fff;
}

a#index{
	color: #37517E !important;
    font-size: 18px;
}

.menu ul li button{
	padding: 8px 12px;
	width: 100%;
	background-color: #37517E;
	list-style-type: none;
	border: 1px solid #37517E;
	border-radius: 10px;
	text-align: left;
}



.menu ul li button:hover{
	background-color: #fff;
}


.menu ul li a{
 	color: #fff !important;
	font-size: 16px;
	text-align: left;
}

.menu ul li a:hover{
	color: #37517E !important;
	text-decoration: none;

}

/* menu */

/* logo */
.logo{
	width: 90%;
	border-top: 1px solid #47B2E4;
	margin: 0 auto;
}

.logo img{
	width: 100%;
	margin-top: 30px;
}

/* some-function */
.some-function{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}

.some-function i{
	color: #fff;
	padding: 15px 10px;
	font-size: 24px;
}

/* some-function */

/* logo */

/* overview */
.overview{
	max-height: 100vh !important;
	overflow: scroll !important;
}
.title{
    width: 98%;
	background-color: #fff;
	box-shadow: 0px 0px 20px  rgba(68, 68, 68, 0.1);
	margin: 10px !important;
	border-left: 10px solid #47B2E4 !important;
    height: 50px;

}

.title h2{
	margin: 15px 30px;
	font-size: 18px;

}


/* taskbar-1 */

.btn-option i{
    margin-right: 10px;
}

.import_items_function{
    width: 98%;
    
}

.taskbar-1{
    padding: 20px; 
    font-size: 16px; 
}

.taskbar-1 button{
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
}

.index{
    padding: 20px 20px 10px 20px !important;

}

.taskbar-1 .import-items{
    background-color: #B3F5B3;
    border: 1px solid #B3F5B3;
}

.taskbar-1 .export-items{
    
    padding: 8px 20px;
    background-color:#F7F7BB;
    border: 1px solid #F7F7BB;
}
/* taskbar-2 */
.taskbar-2{
    border-top: 1px solid #37517E;
    
}

.btn-option button{
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
    font-size: 16px ; 
    padding: 7px 20px;

    
}

.drinks{
    background-color: #B3F5B3;
    border: 1px solid #B3F5B3;
}

.foods{
    background-color: #F7F7BB;
    border: 1px solid #F7F7BB;
}

.tools{
    background-color: #D2D2F0;
    border: 1px solid #D2D2F0;
}


.search{
    margin-top: 30px;
}

/* autobox */
.autobox{
    position: absolute;
    top: 100%;
    width: 92%;
    background-color: rgba(221,221,221,0.5);
    overflow-y: auto;
    z-index: 99;
    
}

.autobox li{
    list-style-type: none;
    padding: 6px 0px 6px 36px;
    cursor: pointer;
    color: #37517E;
    font-size: 18px;
    display: none;

}

.autobox li:hover{
    color: #47B2E4;
}

.autobox.active li{
    display: block;
}

/* autobox */



.taskbar-2 .btn-outline-success{
    margin-top: 30px ;
}

.submit{
    background-color: #B3F5B3;
    border: 1px solid #B3F5B3;

}

.submit:hover{
    background-color: #fff;
    border: 1px solid #B3F5B3;
}

.buys{
    background-color: #F7F7BB;
}




/* drinks-items-list */

.items-list-container{
    border: 1px solid #B3F5B3;
    border-radius: 10px;
}
.btn-option{
    margin-bottom: 0px !important;
}
.col-lg-4{
    margin: 0px;
}

.drinks-items-list{
    border: 1px solid #B3F5B3;
    height: 100%;
}

.item{
    width: 90%;
    margin: 20px;
    border: 1px solid #37517E;
    border-radius: 5px;
    padding: 10px;
}

.item input{
    width: 100%;
    text-align: center;
    text-indent: 10px;
}

.item .img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.item img{
    width: 70%;
    height: 110px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.item .title-drinks-items{
    color: #47B2E4;
    padding: 10px 10px 10px 0px;
    font-size: 20px !important;
}

.item .price{
    color: #47B2E4;
}

.item .quantity-drinks-item{
    margin-top: 20px;
}

.item .quantity-drinks-item .quantity{
    margin-bottom: 20px;
}  

.item button{
    padding: 10px 15px;
    background-color: #47B2E4;
    border: 1px solid #47B2E4;
    color: #fff;
    margin-top: 20px;
}

.item button:hover{
    background-color: #fff;
    color: #47B2E4;
}

#submit-btn{
    margin: 30px 10px 0px 10px;
    border-radius: 5px;
    padding: 6px 20px;
}

/* taskbar-2 */
/* taskbar-1 */

/* list-item */
/* table */
table{
	width: 100%;
	border: 1px solid #B5E0F4;
	border-radius: 10px;
    margin: 0 auto;
		font-size: 16px;
}

table tr td{
	padding: 8px 10px;
	border: 1px solid #B5E0F4;
	text-align: center;
}

table tbody:first-child{
	background-color: #B5E0F4;
	color: #37517E;
	font-weight: 500;
}


/* table */

.list-items{
    width: 98%;
    margin: 0 auto;
    margin-top: 0px;
    height: 60vh;
}

td img{
	width: 100px;
}

td i{
	font-size: 24px;
	margin: 10px;
	color: #37517E	;
	padding: 5px;
	border-radius: 5px;

}

.funcBtn{
    border-top: 1px solid #37517E;
}
.funcBtn button{
    border: 1px solid grey;
}

.add{
    background-color: #B3F5B3;
}

.delete{
    background-color: #FFB3B3;
    border: 1px solid #D8D6D6;
}

.delete:hover{
    background-color: #fff;
    border: 1px solid #FFB3B3;
}

.addItems{
    background-color: #D2D2F0;
    border: 1px solid #D2D2F0;
    float: right;
}

.addItems:hover{
    background-color: #fff;
    border: 1px solid #D2D2F0;
}

td .update{

	background-color: #FFE4B3;
	border: 2px solid #D8D6D6;

}

td .update:hover{
	background-color: #fff;
	
}

td{
	font-size: 16px;
	color: #37517E;
}

th{
    text-align: center !important;
}
/* list-item */

.menu ul li a button.index{
    padding: 8px 12px !important;
    background-color: #fff;
    color: #37517E;
}

.btn-area{
    float: left;
}

.cart-area{
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 99;
    top: 90px;          /* Gắn vào cạnh trên */
    right: 52px;        /* Di chuyển sang cạnh phải */

}


/* cart */
.cart-icon{
    margin-left: 96%;
}

#cart-icon {
    font-size: 32px;
    margin: 12px auto 0px auto;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #37517E;
    border-radius: 5px;
}

#cart-icon:hover{
    color: #47B2E4;
    border: 1px solid #47B2E4;
}
.cart-title{
    text-transform: uppercase;
    text-align: center;
}


.cart {
    position: fixed;
    top: 0px; /* Cố định ở mép trên */
    right: -100%; /* Đưa ra ngoài màn hình ở trạng thái ban đầu */
    width: 355px;
    height: 100vh; /* Chiều cao bằng toàn bộ viewport */
    padding: 20px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s; /* Hiệu ứng khi hiển thị */
    overflow-y: auto; /* Cuộn khi nội dung quá dài */
}

.cart.active {
    right: 0; /* Khi hiển thị, trượt vào từ bên phải */
}



.cart-content {
    max-height: calc(100vh - 250px); /* Adjust this value as needed */
    overflow: auto; /* Enables vertical scrolling */
    padding-right: 10px; /* Adds some padding to avoid overlap with the scroll bar */
}
.cart-box{
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
}

.cart-check-box{
    text-align: center;
    margin-top: 25px;
}

#checkbox{
    cursor: pointer;
}
.cart-img{
    display: flex;
    justify-content: center;
    align-content: center;
}
#cart-img{
    border-radius: 2px;
    width: 100%;
    /* height: 100%; */
}

.cart-product-title{
    color: #37517e;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 125%;
    width: 100% !important;
    
}

.cart-product-price{
    color: #47b2e4;
    font-size: 125%;
    
}
.cart-inf{
    text-align: left;
    width: 80%;
    margin-left: 30px;
    margin-bottom: 5px;
    
}
.cart-quantity{
    width: 50px;
    margin-left: 30px;
    text-indent: 18px;
}

/* remove-cart */
.remove-cart-container{
    text-align: center;
    margin: 30px 0px 30px 30px;
    height: 100%;

}
.remove-cart{
    font-size: 24px;
    display: block;
    cursor: pointer;
}
/* Khi màn hình nhỏ hơn 1200px */
@media screen and (max-width: 1200px) {
    .remove-cart-container {
        margin: 30px auto; /* Căn giữa theo chiều ngang */
    }
}

/* cart-total */

.cart-total{
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.15);
    margin-top: 20px;
    padding: 20px   
}


.total-title{
    float: left;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 20px;
}
.total-price{
    float: right;
    font-size: 20px;
    font-weight: 700;


}
/* .pay-btn */
.pay-btn{
    display: flex;
    margin: 15px auto 0 auto;
    padding: 8px 20px;
    border: 1px solid #47b2e4;
    background-color: #37517E;
    color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}

.pay-btn:hover{
    background-color: #ffffff;
    color: #47b2e4;
}
 a:hover,
 a:active{
    text-decoration: none !important;
}
/* close-cart */
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #37517E;
    cursor: pointer;
}


/* cardlist */



/* Style cho modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000 !important;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
form#addItemForm div input{
    float: right;
    margin-top: 3px;
    text-align:  center;
}

form#addItemForm div label{
    font-weight: 300;
    margin: 5px;
}

.headerModal{
    margin-bottom: 20px;
}

.headerModal h2{
    text-align: center;
}
.saveBtnContainer {
    margin-top: 20px;
    display: flex; /* Đổi thành flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%;
}

#saveItem {
    padding: 8px 12px;
    margin: 10px; /* Giữ khoảng cách đều xung quanh */
    background-color: #47b2e4;
    color: #fff;
    border: 1px solid #47B2E4;
    cursor: pointer; /* Thêm hiệu ứng trỏ chuột */
}

#saveItem:hover{
    background-color: #fff;
    color: #47B2E4;

}

#preview {
    max-width: 100%; 
    margin-top: 10px; 
    display: none;
}

/* .hinh_anh_mh_Container{
    margin: 1;
} */
 input#hinh_anh_mh{
    width: 100%;
 }

 select#ma_npp{
    float: right;
    padding: 5px 12px;
 }