/* Image */
img{
    border-radius: 20px;
}
/*REUSEABLE*/
.title h2{
    text-align: center;
    color: #37517E;
    font-size: 300%;
    width: 100%;
    height: 39px;
    font-weight: 700;
    margin: 30px auto;
}



.title-text{
    text-align: center;
    font-size: 24px;
    margin: 50px auto;
}

.logo  a img{
    display: block;
    margin: 0 auto;
    width: 200px;
}


/*header*/

.header {
    background-color: rgba(55, 81, 126, 0.95);
    transition: all 0.5s;
}

.title{
   margin: 50px 0px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.header{
    padding-bottom: 20px;
}
.header .container{
    margin-top: 20px;
}
.navmenu{
    margin: 0 auto;
}
.navmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.navmenu li {
    position: relative;
}

.navmenu a,
.navmenu a:focus {
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: 400;
    font-size: 21px;
    white-space: nowrap;
}

.navmenu a span{
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}



.navmenu li:hover>a,
.navmenu .active,
.navmenu .active:focus {
    color: #47b2e4;
    text-decoration: none;
    
}

.navmenu .dropdown ul {
    margin: 0;
    background: #ffffff;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.15);
}

.navmenu .dropdown ul li {
    min-width: 70px;
    color: #ffffff;
    text-decoration: none;

}

.navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    text-transform: none;
    color: #37517E;
}

.navmenu .dropdown ul a i {
    font-size: 12px;

}

.navmenu .dropdown ul a:hover,
.navmenu .dropdown ul .active:hover,
.navmenu .dropdown ul li:hover>a {
    background-color: #47b2e4;

}

.navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}



#navmenu ul li ul li ul.dropdown-2 {
    left: 101%;
    top: 0;
    display: block;
}

#navmenu ul li ul li:hover > ul.dropdown-2 {
    visibility:visible;

}



.header .btn-getstarted:hover{
    text-decoration: none;
}

.header .btn-getstarted span,
.header .btn-getstarted span:focus {
    color: #ffffff;
    background: #47b2e4;
    display: block;
    text-align: center;
    font-size: 22px;
    border-radius: 50px;
    padding: 5px 10px;

}

.header .btn-getstarted span:hover{
    background-color: #37517e;
    color: #47b2e4;
}

.pay-page{
    background-color: #F5F5F5;
}

i{
    color: #47b2e4;
}
/* pay */

.pay{
    width: 50%;
    margin: 0 auto;
    color: #37517E;

}
/* user-inf */
.user-inf{
    background-color: #fff;
    padding: 10px 10px 10px 43px !important;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}
.row{
    padding: 0 !important;
    margin: 0 !important;
}
/* user-inf */

/* products */



.service-inf{
    background-color: #fff;
    margin-bottom: 20px !important;
}

.field{
    width: 90%;
    margin: 20px auto !important;
}
.field .field-img{
    width: 70%;
    margin: 0 auto 20px auto;

}

.field::after{
    width: 100%;
    border-bottom: 1px solid rgba(55,81,126,0.3);
}

.field .title{
    margin: 5px 0px 25px 0px;
    font-weight: 600;
    font-size: 20px;
}
/* food */
.food{
    width: 90%;
    margin: 0px auto !important;
    padding-bottom: 20px !important;
}

.food .food-img{
    width: 40%;
    margin: 0 auto 20px auto;

}

.food .title{
    margin: 5px 0px 25px 0px;
    font-weight: 600;
    font-size: 20px;
}

/* discount */

.discount{
    background-color: #fff;
    padding: 10px 10px 10px 43px !important;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}


.discount p{
    margin: 0px;
}
.discount .text{
    float: left;
    text-align: left;
}
.discount .percent{
    float: right;
    text-align: right;
    margin-right: 28px;
    color: #47b2e4;
}

.payment{
    background-color: #fff;
    padding: 10px 10px 10px 43px !important;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}


.payment .col-lg-6{
    padding: 0px !important;
}

#payment-method{
    border-radius: 5px;
    padding: 8px 12px;
    width:  70%;
}

#payment-limit{
    border-radius: 5px;
    padding: 8px 12px;
    width:  70%;
}
/* payment-details */
.payment-details{
    background-color: #fff;
    padding: 10px 10px 10px 43px !important;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}

.payment-details i{
    margin-right: 10px;
}

.title-service{
    float: left;
}

.title-price{
    float: right;
    text-align: right;
    margin-right: 28px;
}

.payment-details .col-lg-6{
    padding-left: 0px;
}

.payment-details .total-title{
    font-size: 22px;
    float: left;
}

.payment-details .total-price{
    font-size: 22px;
    color: #47b2e4;
    float: right;
    margin-right: 28px;
}

/* pay-btn section */

.pay-btn{
    background-color: #fff;
    padding: 10px 10px 10px 43px !important;
    border-radius: 5px;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: right;
}

.select_method select {
    width: 90% !important
}

.pay-btn button{
    background-color: #47b2e4;
    color: #fff;
    border: 1px solid #47b2e4;
    padding: 4px 6px;
    margin:10px auto;
    border-radius: 5px;
}

.pay-btn button:hover{
    background-color: #fff;
    color: #47b2e4;
}

.pay-btn p{
    margin: 0px !important;
}

.pay-btn .total-pay-price{
    color: #47b2e4;
}


